{% extends "base/base.html" %}
{% load url from future %}
{% load i18n %}

{% block section_title %}OpenID sign in{% endblock %}

{% block before_container %}
<div class="page-header">
	<div class="container">
		<h1>OpenID sign in</h1>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="login-content">
		<form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">
				Sign In
			</button>
		</form>
	</div>
</div>
{% endblock %}
