{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
{{ block.super }}
<link href="{% static 'css/conference/design01/css/select2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="block-large bg-alt">
  <div class="container attendees">
  		{% if attendees %}
      <p>
      {% blocktrans with att_count=attendees|length %}
		There are {{ att_count }} people registered.
		{% endblocktrans %}
		</p>
		  <table class="table">
		  	<tr>
		  		<th>{% trans 'Name/username' %}</th>
		  		<th>{% trans 'Company' %}</th>
		  		<th>{% trans 'Place' %}</th>
		  	</tr>
		  	{% for a in attendees %}
		  		{% with p=a.profile %}
		  		{% if p.in_attendees %}
	  			<tr>
	  				<td>
	  					{% if p.public %}
	  					<a href="{% url 'profile' url p.user.username %}">
	  					{% elif p.personal_page %}
	  					<a href="{{ p.personal_page }}">
	  					{% endif %}

	  					{% if p.show_real_name %}
	  						{{ p.user.first_name }} {{ p.user.last_name }}
	  					{% else %}
	  						{{ p.user.username }}
	  					{% endif %}

	  					{% if p.personal_page or p.personal_page %}
	  					</a>
	  					{% endif %}
	  				</td>
	  				<td>
	  					{% if p.company %}
	  						{% if p.company_page %}
	  						<a href="{{ p.company_page }}">
	  						{% endif %}

	  						{{ p.company }}

	  						{% if p.company_page %}
	  						</a>
	  						{% endif %}
	  					{% endif %}
	  				</td>
	  				<td>
	  					{{ p.state }}, {{ p.country }}
	  				</td>
	  			</tr>
		  		{% endif %}
		  		{% endwith %}
		  	{% endfor %}
		  </table>
  		{% endif %}
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<script src="{% static 'js/conference/submit_talk.js' %}"></script>
<script>
$("#id_tags").select2({tags:[]});
</script>
{% endblock scripts %}
