{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}
{% load gravatar %}

{% block styles %}
{{ block.super }}
<link href="{% static 'conference/fancybox/jquery.fancybox-1.3.4.css' %}" rel="stylesheet">
<link href="{% static 'css/conference/design01/css/isotope.css' %}" rel="stylesheet">
<link href="{% static 'conference/design02/assets/js/jquery.bxslider/jquery.bxslider.css' %}" rel="stylesheet">
<link href="{% static 'conference/design02/assets/css/pages/feature_timeline1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="block-large bg-alt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

          <div class="headline"><h2>{% trans 'Schedule:' %}</h2></div>

          <div class="row">
          <button class="btn-buy animated fadeInRight btn-u btn-u btn-u-orange" onclick="showFull()">{% trans 'Full View' %}</button>
          <button class="btn-buy animated fadeInRight btn-u btn-u-blue" onclick="showClassic()">{% trans 'Classic View' %}</button>
        </div>

          <!-- <div class="heading heading-v1 margin-bottom-40">
              <h2>{% trans 'Stay tuned for news about the schedule' %}</h2>
          </div> -->

          <div id="fullView">

          <div class="row">
            {% for tname in track_names %}
            <div class="headline col-md-6" align="center"><h2>Track: {{tname}}</h2></div>
            {% endfor %}
          </div>

          <div class="bxslider">
            {% for schedule in schedules %}
            <div class="slide col-md-8" align="center">
                <div class="headline"><h2>{{schedule.date}}</h2></div>
                <ul class="timeline-v1">
                  {% for talk in schedule.talks%}
                  {% if talk.track0 %}
                  {% if talk.track0.is_talk %}
                  <li>
                  {% else %}
                  <li class="not-talk">
                  {% endif %}
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h5><i class="fa fa-clock-o"></i> {{talk.track0.start_time|time:"H:i"}} - {{talk.track0.end_time|time:"H:i"}}</h5>
                          {% if talk.track0.is_talk %}
                            <div class="row">
                              <div class="col-md-6" align="right">
                                {% gravatar talk.track0.user.email 150 %}
                              </div>
                              <div class="col-md-6" align="left">
                                <ul class="list-unstyled">
                                   <li><h3><a href="{{talk.track0.speaker_web}}"><i class="fa fa-user"></i> {{talk.track0.speaker}}</a></h3></li>
                                   {% if talk.track0.extra_speakers %}
                                     {% for name in talk.track0.extra_speakers %}
                                     <li><h3><i class="fa fa-user"></i> {{name.first_name}} {{name.last_name}}</h3></li>
                                     {% endfor %}
                                   {% elif talk.track0.company %}
                                   <li><h3><a href="{{talk.track0.company_web}}"><i class="fa fa-briefcase"></i> {{talk.track0.company}}</a></h3></li>
                                   {% endif %}
                                </ul>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                        <div class="timeline-body text-justify">
                          {% if talk.track0.is_talk %}
                            <h2><a href="{% url 'block_talk_info' url=url talkid=talk.track0.talkid %}">{{talk.track0.title}}</a></h2>
                          {% else %}
                            <h2>{{talk.track0.title}}</h2>
                          {% endif %}
                          {% if talk.track0.is_talk %}
                            <p>{{talk.track0.abstract|slice:":400"}}...</p>
                        </div>
                        <div class="timeline-footer">
                          <ul class="list-unstyled list-inline blog-info">
                              <li><a class="btn-u btn-u-sm btn-u-blue" href="{% url 'block_talk_info' url=url  talkid=talk.track0.talkid %}">Read More</a></li>
                          </ul>
                          {% if talk.track0.favorite %}
                          <button class="likes btn-u btn-u-orange" id="buttonFavorite{{talk.track0.scheduleid}}" onclick="removeFromFavorites({{talk.track0.scheduleid}})"><i class="fa fa-star"></i> Marked as favorite</button>
                          {% else %}
                          <button class="likes btn-u btn-u-default" id="buttonFavorite{{talk.track0.scheduleid}}" onclick="addToFavorites({{talk.track0.scheduleid}})"><i class="fa fa-star-o"></i> Add to favorites</button>
                          {% endif %}
                        </div>
                        {% else %}
                        </div>
                        {% endif %}
                    </div>
                  </li>
                  {% else %}
                    <li class="not-talk"></li>
                  {% endif %}
                  {% if talk.track1 %}
                  {% if talk.track1.is_talk %}
                  <li class="timeline-inverted">
                  {% else %}
                  <li class="timeline-inverted not-talk">
                  {% endif %}
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5><i class="fa fa-clock-o"></i> {{talk.track1.start_time|time:"H:i"}} - {{talk.track1.end_time|time:"H:i"}}</h5>
                            {% if talk.track1.is_talk %}
                              <div class="row">
                                <div class="col-md-6" align="right">
                                  {% gravatar talk.track1.user.email 150 %}
                                </div>
                                <div class="col-md-6" align="left">
                                  <ul class="list-unstyled">
                                     <li><h3><a href="{{talk.track1.speaker_web}}"><i class="fa fa-user"></i> {{talk.track1.speaker}}</a></h3></li>
                                     {% if talk.track1.extra_speakers %}
                                       {% for name in talk.track1.extra_speakers %}
                                       <li><h3><i class="fa fa-user"></i> {{name.first_name}} {{name.last_name}}</h3></li>
                                       {% endfor %}
                                     {% elif talk.track1.company %}
                                     <li><h3><a href="{{talk.track1.company_web}}"><i class="fa fa-briefcase"></i> {{talk.track1.company}}</a></h3></li>
                                     {% endif %}
                                  </ul>
                                </div>
                              </div>
                            {% endif %}
                        </div>
                        <div class="timeline-body text-justify">
                          {% if talk.track1.is_talk %}
                            <h2><a href="{% url 'block_talk_info' url=url talkid=talk.track1.talkid %}">{{talk.track1.title}}</a></h2>
                          {% else %}
                            <h2>{{talk.track1.title}}</h2>
                          {% endif %}
                          {% if talk.track1.is_talk %}
                            <p>{{talk.track1.abstract|slice:":400"}}...</p>
                        </div>
                        <div class="timeline-footer">
                          <ul class="list-unstyled list-inline blog-info">
                              <li><a class="btn-u btn-u-sm btn-u-blue" href="{% url 'block_talk_info' url=url  talkid=talk.track1.talkid %}">Read More</a></li>
                          </ul>
                          {% if talk.track1.favorite %}
                          <button class="likes btn-u btn-u-orange" id="buttonFavorite{{talk.track1.scheduleid}}" onclick="removeFromFavorites({{talk.track1.scheduleid}})"><i class="fa fa-star"></i> Marked as favorite</button>
                          {% else %}
                          <button class="likes btn-u btn-u-default" id="buttonFavorite{{talk.track1.scheduleid}}" onclick="addToFavorites({{talk.track1.scheduleid}})"><i class="fa fa-star-o"></i> Add to favorites</button>
                          {% endif %}
                        </div>
                        {% else %}
                        </div>
                        {% endif %}
                      </div>
                    </li>
                  {% else %}
                    <li class="timeline-inverted not-talk"></li>
                  {% endif %}
                  {% endfor %}
                  <li class="clearfix" style="float: none;"></li>
                </ul>
            </div>
            {% endfor %}
          </div>
				</div><!-- /.span12 -->
			</div><!-- /.row -->
		</div>

    </div>

    <div id="classicView" style="display: none">

    {% for schedule in schedules %}
    <div class="panel panel-grey margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">{{schedule.date}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    {% for tname in track_names %}
                    <th>Track: {{tname}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for talk in schedule.talks%}
                    <tr>
                        <td><h2>{{talk.track0.start_time|time:"H:i"}} - {{talk.track0.end_time|time:"H:i"}}</h2></td>
                        {% if talk.track0 %}
                        <td><div>
                          {% if talk.track0.is_talk %}
                            <h2><a href="{% url 'block_talk_info' url=url talkid=talk.track0.talkid %}">{{talk.track0.title}}</a></h2>
                            <ul class="list-unstyled">
                               <li><h5><a href="{{talk.track0.speaker_web}}"><i class="fa fa-user"></i> {{talk.track0.speaker}}</a></h5></li>
                               {% if talk.track0.extra_speakers %}
                                 {% for name in talk.track0.extra_speakers %}
                                 <li><h5><i class="fa fa-user"></i> {{name.first_name}} {{name.last_name}}</h5></li>
                                 {% endfor %}
                               {% endif %}
                              <p>{{talk.track0.abstract|slice:":400"}}...</p>
                          {% else %}
                            <h2>{{talk.track0.title}}</h2>
                          {% endif %}
                        </div></td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        {% if talk.track1 %}
                        <td><div>
                          {% if talk.track1.is_talk %}
                            <h2><a href="{% url 'block_talk_info' url=url talkid=talk.track1.talkid %}">{{talk.track1.title}}</a></h2>
                            <ul class="list-unstyled">
                               <li><h5><a href="{{talk.track1.speaker_web}}"><i class="fa fa-user"></i> {{talk.track1.speaker}}</a></h5></li>
                               {% if talk.track1.extra_speakers %}
                                 {% for name in talk.track1.extra_speakers %}
                                 <li><h5><i class="fa fa-user"></i> {{name.first_name}} {{name.last_name}}</h5></li>
                                 {% endfor %}
                               {% endif %}
                              <p>{{talk.track1.abstract|slice:":400"}}...</p>
                          {% else %}
                            <h2>{{talk.track1.title}}</h2>
                          {% endif %}
                        </div></td>
                        {% else %}
                          <td></td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

  </div>
	</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'js/conference/jquery.isotope.min.js' %}"></script>
<script src="{% static 'conference/design02/assets/js/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'conference/design02/assets/js/agenda.js' %}"></script>
<script>
$('.bxslider').bxSlider({
  infiniteLoop: false,
  hideControlOnEnd: true
});
</script>
{% endblock scripts %}
