{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load url from future %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}{{conference_name}}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    {% block styles %}
    <link href="{% static 'conference/design02/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/plugins/line-icons/line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/plugins/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/plugins/parallax-slider/css/parallax-slider.css' %}" rel="stylesheet">
    <link href="{% static 'conference/design02/assets/css/themes/default.css' %}" rel="stylesheet"  id="style_color">
    <link href="{% static 'conference/design02/assets/css/custom.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{home_active}}"><a href="/{{url}}">Home</a></li>
                        {% if block_register %}
                          {% if user_registered %}
                            <li class="{{register_active}}"><a href="{% url 'profile' url user.username %}">{% trans 'My Profile' %}</a></li>
                          {% else %}
                            {% if user.is_authenticated %}
                              <li class="{{register_active}}"><a href="{% url 'block_register' url %}">{% trans 'Register' %}</a></li>
                            {% else %}
                              <li class="{{register_active}}"><a href="{{ login_url }}?next=/{{url}}/register">{% trans 'Register' %}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                        <li class="dropdown {{conference_active}}">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Conference' %}</a>
                          <ul class="dropdown-menu">
                            {% if block_schedule %}
                              <li><a href="{% url 'block_schedule' url %}">{% trans 'Agenda' %}</a></li>
                              <li><a href="{% url 'block_schedule_favorites' url %}">{% trans 'Agenda: Favorites' %}</a></li>
                            {% endif %}
                            {% if block_attendees %}
                            <li><a href="{% url 'block_attendees' url %}">{% trans 'Attendees' %}</a></li>
                            {% endif %}
                            {% if block_my_talks %}
                              {% if user.is_authenticated %}
                                <li><a href="{% url 'block_my_talks' url %}">{% trans 'My Talks' %}</a></li>
                              {% endif %}
                            {% endif %}
                            {% if block_call_for_proposals %}
                              <li><a href="{% url 'block_call_for_proposals' url %}">{% trans 'Call for Proposals' %}</a></li>
                            {% endif %}
                          </ul>
                        </li>
                        {% if is_organizer %}
                        <li class="dropdown {{organizers_active}}">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Organizers' %}</a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'event_manager' %}{{ eventid }}">{% trans 'Event Manager' %}</a></li>
                            {% if block_review_talks %}
                              <li><a href="{% url 'block_review_talks' url %}">{% trans 'Review Talks' %}</a></li>
                            {% endif %}
                          </ul>
                        </li>
                        {% endif %}
                        <li class="dropdown {{about_active}}">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'About' %}</a>
                          <ul class="dropdown-menu">
                            {% if block_information %}
                              <!-- <li><a href="blog-1.html">{% trans 'Information' %}</a></li> -->
                            {% endif %}
                            {% if block_code_of_conduct %}
                              <li><a href="{% url 'block_code_of_conduct' url %}">{% trans 'Code of Conduct' %}</a></li>
                            {% endif %}
                            {% if block_press_release %}
                              <!-- <li><a href="blog-2.html">{% trans 'Press releases' %}</a></li> -->
                            {% endif %}
                            {% if block_volunteers %}
                              <!-- <li><a href="blog-2.html">{% trans 'Volunteers' %}</a></li> -->
                            {% endif %}
                            {% if block_contact %}
                              <!-- <li><a href="blog-2.html">{% trans 'Contact' %}</a></li> -->
                            {% endif %}
                          </ul>
                        </li>
                        <li>
                          {% if user.is_authenticated %}
                            <a href="{% url 'account_logout' %}?next=/{{url}}">
                                {% blocktrans %}Logout{% endblocktrans %}&nbsp;
                                <i class="icon-signout"></i>
                            </a>
                          {% else %}
                            <a href="{{ login_url }}?next=/{{url}}">
                                {% blocktrans %}Login{% endblocktrans %}&nbsp;
                                <i class="icon-signin"></i>
                            </a>
                          {% endif %}
                        </li>
                    </ul>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
          <div class="da-slide">
            {% if event.logo %}
            <h2><img src="{% static event.logo.url %}" alt="Logo" /></h2>
            {% else %}
            <h2><i>{{conference_name}}</i></h2>
            {% endif %}
          </div>
          {% if block_sponsors %}
            {% if sponsors %}
                  {% for s in sponsors %}
                    {% for ss in s.sponsors %}
                      {% if ss.logo%}
                      <div class="da-slide">
                        {% if event.logo %}
                        <h2><img src="{% static event.logo.url %}" alt="Logo" /></h2>
                        {% else %}
                        <h2><i>{{conference_name}}</i></h2>
                        {% endif %}
                        <p><br/><i>{% trans 'Made possible by:' %}</i> <br /><i>{% trans 'Sponsors' %}</i> <br /> <i>{{s.level}}</i></p>
                        <div class="da-img">
                          <h3><a href="{{ss.company_page}}" class="btn btn-u btn-u-light-green"><i>{{ss.name}}</i></a></h3>
                          <a href="{{ss.company_page}}"><img height="200px" src="{{ ss.logo.url }}" alt="{{ ss.name }}"/></a>
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
            {% else %}
              <div class="da-slide">
                {% if event.logo %}
                <h2><img src="{% static event.logo.url %}" alt="Logo" /></h2>
                {% else %}
                <h2><i>{{conference_name}}</i></h2>
                {% endif %}
              </div>
            {% endif %}
          {% else %}
            <div class="da-slide">
              <h2><i>{{conference_name}}</i></h2>
            </div>
          {% endif %}
          {% if block_sponsors %}
            {% if sponsors %}
              <div class="da-arrows">
                  <span class="da-arrows-prev"></span>
                  <span class="da-arrows-next"></span>
              </div>
            {% endif %}
          {% endif %}
        </div>
        {% if custom_design and custom_design.bg_image %}
        <style>
        .da-slider {
          background-image: url({% static custom_design.bg_image.url %});
        }
        </style>
        {% endif %}
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-8 animated fadeInLeft">
                  {% if not expired %}
                    {% if start_date == end_date %}
                      <p class="lead">
                        {% blocktrans %}
                        <span>Conference will take place on {{ start_date }}</span>
                        {% endblocktrans %}</p>
                    {% else %}
                      <p class="lead">
                        {% blocktrans %}
                        <span>Conference will take place from {{ start_date }} and {{ end_date }}</span>
                        {% endblocktrans %}
                      </p>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="col-md-4">
                {% if not user_registered %}
                  {% if block_register %}
                    {% if user.is_authenticated %}
                      <a href="{% url 'block_register' url %}" class="class=btn-buy animated fadeInRight btn btn-large btn-danger">{% trans 'Register!' %}</a>
                    {% else %}
                      <a href="{{ login_url }}?next=/{{url}}/register" class="class=btn-buy animated fadeInRight btn btn-large btn-danger">{% trans 'Register!' %}</a>
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if block_submit_talk %}
                      <a href="{% url 'block_submit_talk' url %}" class="btn-buy animated fadeInRight btn btn-large btn-danger">{% trans 'Submit Talk!' %}</a>
                  {% endif %}
                {% endif %}
                {% if block_schedule %}
                      <a href="{% url 'block_schedule' url %}" class="btn-buy animated fadeInRight btn btn-large btn-info">{% trans 'Agenda' %}</a>
                {% endif %}
              </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content">
      {% block content %}{% endblock %}
    </div><!--/container-->
    <!-- End Content Part -->

    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    {% if user.is_authenticated %}
                    <div class="headline"><h2>{% trans 'Contact' %}</h2></div>
                    <form method="POST" action="{% url 'contact_message' %}{{ eventid }}/">
                      {% csrf_token %}
                      <label>{% trans 'Subject' %}</label>
                      <div class="row margin-bottom-20">
                          <div class="col-md-11 col-md-offset-0">
                              <input type="text" name="subject" class="form-control">
                          </div>
                      </div>
                      <label>{% trans 'Message' %}</label>
                      <div class="row margin-bottom-20">
                          <div class="col-md-11 col-md-offset-0">
                              <textarea rows="2" name="body" class="form-control"></textarea>
                          </div>
                      </div>

                      <p><button type="submit" class="btn-u">{% trans 'Send Message' %}</button></p>
                  </form>
                  {% endif %}
                </div><!--/col-md-4-->

                <div class="col-md-4 md-margin-bottom-40">
                </div><!--/col-md-4-->

                <div class="col-md-4">
                    <!-- Social Links -->
                    {% if twitter_link or facebook_link or google_plus_link or pinterest_link %}
                    <div class="headline"><h2>{% trans 'Follow Us' %}</h2></div>
                    <ul class="social-icons">
                      {% if twitter_link %}
                      <li><a data-original-title="Twitter" class="social_twitter" href="{{twitter_link}}"></a></li>
                      {% endif %}
                      {% if facebook_link %}
                      <li><a data-original-title="Facebook" class="social_facebook" href="{{facebook_link}}"></a></li>
                      {% endif %}
                      {% if google_plus_link %}
                      <li><a data-original-title="Goole Plus" class="social_googleplus" href="{{google_plus_link}}"></a></li>
                      {% endif %}
                      {% if pinterest_link %}
                      <li><a data-original-title="Pinterest" class="social_pintrest" href="{{pinterest_link}}"></a></li>
                      {% endif %}
                    </ul>
                    {% endif %}
                    <!-- End Social Links -->
                </div><!--/col-md-4-->
            </div>
        </div>
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>{% trans 'Conference created with' %} <a href="http://myconference.co" target="_blank">MyConference</a></p>
                </div>
                <div class="col-md-4">
                    {% if event.logo %}
                    <p><img src="{% static event.logo.url %}" alt="Logo" height="40" /></p>
                    {% else %}
                    <p><a href="/{{url}}" target="_blank">{{conference_name}}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
</div><!--/wrapper-->

{% block scripts %}
  <!-- last but not least the javascript -->
  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="{% static 'conference/design02/assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script>
  <script src="{% static 'conference/design02/assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'conference/design02/assets/plugins/parallax-slider/js/modernizr.js' %}"></script>
  <script src="{% static 'conference/design02/assets/plugins/parallax-slider/js/jquery.cslider.js' %}"></script>
  <script src="{% static 'conference/design02/assets/js/app.js' %}"></script>
  <script src="{% static 'conference/design02/assets/js/pages/index.js' %}"></script>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          App.init();
          App.initSliders();
          Index.initParallaxSlider();
      });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4650617-19', 'myconference.co');
    ga('send', 'pageview');

  </script>
  <style type="text/css">
    {{custom_css_style}}
  </style>
{% endblock scripts %}
</body>
</html>
