{% extends "conference/design02/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div class="row margin-bottom-30">
    <!-- Welcome Block -->
  <div class="col-md-8 md-margin-bottom-40">
    <div class="headline"><h2>
      {% blocktrans %}
      About {{ conference_name }}
      {% endblocktrans %}</h2></div>
          <div class="row">
              <div class="col-sm-12">
                <p class="lead">{{description}}</p>
              </div>
          </div>
      </div><!--/col-md-8-->

      <!-- Latest Shots -->
      <div class="col-md-4">
        <div class="headline"><h2></h2></div>
        <div id="myCarousel" class="carousel slide carousel-v1">
          <div class="carousel-inner">
              <div class="item active">
                {% if custom_design and custom_design.about_us_image %}
                  <img src="{% static custom_design.about_us_image.url %}" />
                {% else %}
                  <img src="{% static 'img/conference/conference02.jpg' %}">
                {% endif %}
              </div>
          </div>
        </div>
      </div><!--/col-md-4-->
</div>

{% if sections %}
  {% for section in sections %}
    <div class="row margin-bottom-30">
        <!-- Welcome Block -->
      <div class="col-md-12 md-margin-bottom-40">
        <div class="headline"><h2>{{section.title}}</h2></div>
              <div class="row">
                  <div class="col-sm-12">
                    <p class="lead">{% autoescape off %}{{section.text}}{% endautoescape %}</p>
                  </div>
              </div>
          </div><!--/col-md-8-->
    </div>
  {% endfor %}
{% endif %}

<div class="row margin-bottom-30">
    <!-- Welcome Block -->
  <div class="col-md-8 md-margin-bottom-40">
    <div class="headline"><h2>
      <i class="icon-calendar"></i> <span class="muted">{% trans 'What appointments to cancel?' %}</span></h2></div>
          <div class="row">
              <div class="col-sm-12">
                {% if start_date == end_date %}
                  <p class="lead">
                  {% blocktrans %}
                  Conference will take place on {{ start_date }}
                  {% endblocktrans %}
                  </p>
                {% else %}
                  <p class="lead">
                  {% blocktrans %}Conference starting on {{ start_date }}{% endblocktrans %}
                  </p>
                  <p class="lead">
                  {% blocktrans %}Conference ending on {{ end_date }}{% endblocktrans %}
                  </p>
                {% endif %}
                {% if block_schedule %}
                  <p class="lead">{% trans 'Check out the Agenda for more information!' %}</p>
                  <a href="{% url 'block_schedule' url %}" class="btn btn-large">{% trans 'Agenda' %}&raquo;</a>
                  <br class="spacer-medium">
                {% endif %}
              </div>
          </div>
      </div><!--/col-md-8-->

      <!-- Latest Shots -->
      <div class="col-md-4">
        <div class="body">
            <div id="calendar" class="calendar"> </div>
        </div>
      </div><!--/col-md-4-->
</div>

{% if block_sponsors %}
  {% if sponsors %}
  <div id="clients-flexslider" class="flexslider home clients">
      <div class="headline"><h2>{% trans 'Sponsors' %}</h2></div>
      <p class="lead">{{sponsors_thanks}}</p>
      <ul class="slides">
        {% for s in sponsors %}
          {% for ss in s.sponsors %}
          <li>
            {% if ss.logo%}<a href="{{ss.company_page}}"><img src="{{ ss.logo.url }}" alt="{{ ss.name }}" /></a>{% endif %}
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
  </div><!--/flexslider-->
  <!-- End Our Clients -->
{% endif %}
{% endif %}
{% endblock %}
