{% extends 'base/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference{% endblock %}

{% block content %}

<div class="container">
    <header class="page-header">
        <div class="navbar">
            <div class="logo pull-left">
                <h4><a href="#">My<strong>Conference</strong></a></h4>
            </div>
            <ul class="navbar-buttons pull-right">
                <li>
                    <a href="{% url 'dashboard' %}" class="btn btn-sm btn-transparent">
                        {% blocktrans %}My Dashboard{% endblocktrans %}&nbsp;
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                <li>
									{% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}"
                       class="btn btn-sm btn-transparent">
                        {% blocktrans %}Logout{% endblocktrans %}&nbsp;
                        <i class="fa eicon-logout"></i>
                    </a>
									{% else %}
										<a href="{% url 'account_login' %}"
											class="btn btn-sm btn-transparent">
												{% blocktrans %}Login{% endblocktrans %}&nbsp;
												<i class="fa eicon-login"></i>
										</a>
									{% endif %}
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade">
<!--             <ol class="carousel-indicators">
                <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
                <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
            </ol> -->
<!--             <div class="carousel-inner"> -->
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <h1 class="slide-one-header"><strong>MyConference</strong> <br>{% blocktrans %}The easy way to manage your events{% endblocktrans %}</h1>
                                <p>
                                    <a href="{% url 'create_conference' %}" class="btn btn-lg btn-white">
                                        {% blocktrans %}Create conference{% endblocktrans %} &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="{% url 'dashboard' %}"
                                       class="btn btn-lg btn-transparent">
                                        {% blocktrans %}Manage your events{% endblocktrans %} &nbsp; <i class="fa eicon-flow-tree"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-align-center animated fadeInRightBig">
                                <img src="{% static 'img/light-blue-preview-1.png' %}" alt="Second slide">
                            </div>
                        </div>
                    </div>
                </div>
<!--                 <div class="item">
                    <h1 class="slide-two-header text-align-center animated fadeInDown">
                        <strong>Transparent</strong> & <strong>White</strong>
                        Versions
                    </h1>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <p>
                                    <a href="index.html">
                                        <img src="img/jpeg/light-blue-laptop-transparent.png" alt=""/>
                                    </a>
                                </p>
                                <p class="text-align-center">
                                    <a href="index.html" class="btn btn-transparent btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="animated fadeInRightBig">
                                <p>
                                    <a href="white/index.html">
                                        <img src="img/jpeg/light-blue-laptop-white.png" alt=""/>
                                    </a>
                                </p>
                                <p class="text-align-center">
                                    <a href="white/index.html" class="btn btn-white btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeft">
                                <h1 class="slide-three-header">
                                    <strong>Fully</strong>
                                    <br>
                                    Responsive
                                </h1>
                                <p>
                                    <a href="http://responsinator.com/?url=http%3A%2F%2Fdemo.okendoken.com" class="btn btn-white btn-lg" target="_blank">
                                        Test It
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="animated fadeInUp" style="margin-top: 20px">
                                <img src="img/jpeg/light-blue-phone.png" alt=""/>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
<!--             <a class="left carousel-control carousel-control-landing" href="#carousel-landing" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control carousel-control-landing" href="#carousel-landing" data-slide="next">
                <span class="icon-next"></span>
            </a> -->
        </div>
    </div>
</div>
<div id="about" class="widget widget-white widget-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h2><strong>{% blocktrans %}About MyConference{% endblocktrans %}</strong></h2>
                <p>
                  <strong>MyConference</strong> - {% blocktrans %}is a platform where you can create and manage everything related
									with a Conference. MyConference will let you keep track of every task and automatically create
									a conference site for you.{% endblocktrans %}
                </p>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-danger">
                                            <i class="fa fa-bold"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>{% blocktrans %}Free hosting{% endblocktrans %}</h4>
                                    <p>
                                        {% blocktrans %}MyConference helps you with the creation of the conference site.
																				Our goal is to ease your event coordination while keeping you care-free.{% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-warning">
                                            <i class="fa fa-magic"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>{% blocktrans %}Customizable{% endblocktrans %}</h4>
                                    <p>
                                        {% blocktrans %}We provide a series of customizable layouts for your event page,
																				so you only need to focus in the event content and coordination.{% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-success">
                                            <i class="fa fa-wrench"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>{% blocktrans %}Easy{% endblocktrans %}</h4>
                                    <p>
                                        {% blocktrans %}Easily manage the event collaborators, attendees, talks and conference schedule.
																				You need only one account to be an attendee, a speaker or a coordinator.{% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="thanks text-align-center">{% blocktrans %}Create, Customize, Manage and Share!{% endblocktrans %}</h2>
<p class="lead text-align-center"><a class="back-to-top" href="#"> {% blocktrans %}back to top{% endblocktrans %} <i class="fa fa-angle-up"></i></a></p>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- bootstrap default plugins -->
<script src="{% static 'js/dashboard/lib/bootstrap/transition.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/carousel.js' %}"></script>
<script src="{% static 'js/dashboard/landing.js' %}"></script>
{% endblock scripts %}
