{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}
{% load gravatar %}

{% block title %}{% trans 'Edit your profile' %}{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">{% trans 'Edit your profile' %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if error %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="fa fa-ban"></i> <strong>{% blocktrans %}Oh snap! You got an error!{% endblocktrans %}</strong></h4>
                <p>{% blocktrans %}You forgot to complete some of the required fields{% endblocktrans %}</p>
            </div>
            {% endif %}
            <section class="widget">
                <form method="POST" action="" class="form-horizontal" id="profile-form" enctype="multipart/form-data">
                {% crispy user_form %}
                <div class="column col-md-6 span5 text-center">
                  {% gravatar user.email 150 %}
                </div>
                {% crispy profile_form %}
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/jquery.icheck.js' %}"></script>
<script src="{% static 'js/forms-elements.js' %}"></script>
{% endblock scripts %}
