{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<section class="block-large bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="POST" action="" class="form-horizontal" id="profile-form">
        {% crispy user_form 'bootstrap' %}
        {% crispy profile_form 'bootstrap' %}
        </form>
        <style>
          .form-actions {
            clear: both;
          }
        </style>
      </div>
    </div>
  </div>
</section>

{% endblock %}
