{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
{{ block.super }}
<link href="{% static 'css/conference/design01/css/select2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="block-large bg-alt">
  <div class="container">
	  <div class="col-md-12">
	      {% crispy talk_form %}
	  </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<script src="{% static 'js/conference/submit_talk.js' %}"></script>
<script>
$("#id_tags").hide();
</script>

<style>
  .form-control {
    padding: 0px 0px;
  }
<style>
{% endblock scripts %}
