{% extends "conference/design02/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
{{ block.super }}
<link href="{% static 'conference/design02/assets/css/pages/page_pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row no-space-pricing pricing-mega-v1">
    <div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
        <div class="pricing hidden-area">
            <div class="pricing-head ">
                <h4 class="price">{% trans 'Proposed Talks:' %}</h4>
            </div>
            <ul  class="pricing-content list-unstyled">
              {% for talk in talks %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="bg-color">
                {% else %}
                <li>
                {% endif %}
                  <a href="{% url 'block_talk_review' url=url talkid=talk.talkid %}">
                  {% if talk.approved %}
                    <i class="fa fa-star" id="talkTitle{{talk.talkid}}"></i> {{talk.title|slice:":80"}}
                  {% else %}
                    <i class="fa fa-star-o" id="talkTitle{{talk.talkid}}"></i> {{talk.title|slice:":80"}}
                  {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
            <div class="pricing-head">
                <h3>
                    {% trans 'Author ' %}
                </h3>
                <h4 class="price">
                    <i class="fa fa-user"></i>
                </h4>
            </div>
            <ul class="pricing-content list-unstyled ">
              {% for talk in talks %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="bg-color">
                {% else %}
                <li>
                {% endif %}
                  {{talk.author}}
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
            <div class="pricing-head">
                <h3>
                    {% trans 'Accepted' %}<span>Click on <i class="fa fa-thumbs-up"></i> to approve</span>
                </h3>
                <h4 class="price">
                    <i class="fa fa-thumbs-o-up"></i>
                </h4>
            </div>
            <ul class="pricing-content list-unstyled ">
              {% for talk in talks %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="bg-color">
                {% else %}
                <li>
                {% endif %}
                  {{talk.accepted}} <a href="javascript:void(0);" onclick="voteTalk(1, {{talk.talkid}});"><i class="fa fa-thumbs-up"></i></a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
     <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
            <div class="pricing-head">
                <h3>
                    {% trans 'Rejected' %}<span>Click on <i class="fa fa-thumbs-down"></i> to reject</span>
                </h3>
                <h4 class="price">
                    <i class="fa fa-thumbs-o-down"></i>
                </h4>
            </div>
            <ul class="pricing-content list-unstyled ">
              {% for talk in talks %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="bg-color">
                {% else %}
                <li>
                {% endif %}
                  {{talk.rejected}} <a href="javascript:void(0);" onclick="voteTalk(-1, {{talk.talkid}});"><i class="fa fa-thumbs-down"></i></a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/conference/api_conference.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'conference/fancybox/jquery.easing-1.3.pack.js' %}"></script>
<script src="{% static 'js/conference/review_summary.js' %}"></script>
{% endblock scripts %}
