{% extends "conference/design02/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
  <section class="block-large bg-alt">
		<div class="container">
			<div class="row">
				<!-- Carousel -->
				<div class="col-md-5">
          {% if talk.video_url %}
            <iframe width="100%" height="500" src="{{talk.video_url}}" frameborder="0" allowfullscreen></iframe>
          {% else %}
            <h1 class="text-center">{% trans 'Not video available yet' %}</h1>
          {% endif %}
				</div>
				<!-- Item Description -->
				<div class="col-md-7">
					<h2>{{talk.talk.title}}</h2>
					<p class="lead"><a href="{{profile.personal_page}}">{{talk.talk.speaker.first_name}} {{talk.talk.speaker.last_name}}</a></p>
					<hr>
					<div class="row-fluid">
						<div class="col-md-7">
							<h3>{% trans 'Synopsis:' %}</h3>
							<p>{{talk.talk.summary}}</p>
						</div><!-- /.span6 -->
						<div class="col-md-5">
							<h3>{% trans 'Topics:' %}</h3>
							<div class="well">
								<ul>
									<li><i class="icon-tag"></i> {{talk.talk.get_level_display}}</li>
                  {% for tag in talk.talk.tags.all %}
									         <li><i class="icon-double-angle-right"></i> {{tag.name}}</li>
                  {% endfor %}
								</ul>
                {% if profile.personal_page %}
								<a href="{{profile.personal_page}}" class="btn btn-block"><i class="icon-external-link"></i> {% trans 'View Speaker Website' %}</a>
                {% endif %}
                {% if talk.material %}
								<a href="#" class="btn btn-block btn-primary"><i class="icon-cloud-download"></i> {% trans 'Download presentation' %}</a>
                {% endif %}
							</div>
						</div><!-- /.span6 -->
					</div><!-- /.row-fluid -->
				</div><!-- /.span6 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

  {% if related_talks %}

	<section class="block-small">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4>{% trans 'You might want to check out some other interesting talks' %}</h4>
				</div>
			</div>
		</div>
	</section>

	<section class="block-small bg-alt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">{% trans 'Related Talks:' %}</h2>
					<br class="spacer-xlarge">
					<ul class="thumbnails portfolio">
            {% for related in related_talks %}
						<li class="col-md-3 cat-1">
							<div class="thumbnail">
								<a href="{{related.url}}">
									<img src="{{related.snapshot}}" alt="">
								</a>
								<div class="caption">
									<h5>{{related.title}}</h5>
									<p>{{related.description}}</p>
								</div>
							</div>
						</li>
            {% endfor %}
					</ul><!-- /.thumbnails.portfolio -->
				</div><!-- /.span12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

  {% endif %}
{% endblock %}
