{% extends "dashboard/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}
{% block title %}MyConference - Event Manager{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard/form_elements/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block menu %}
  {% include "dashboard/menu_events.html" %}
{% endblock %}
{% block content %}
  <div class="content container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-title">{% trans 'Settings' %} <small>{% trans 'Edit or delete the event' %}</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <section class="widget">
          <div class="body">
            <form id="settings-form" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% crispy form %}
            <div class="form-actions">
                <input name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" type="submit">
            </div>
            </form>
        </div>
      </section>
    </div>
    <div class="col-md-5">
      <section class="widget">
        <header>
          {% if is_admin %}
            <h4><i class="fa fa-key"></i> {% trans 'Remove' %} <small>{% trans 'permanent action' %}</small></h4>
          {% else %}
            <h4><i class="fa fa-key"></i> {% trans 'Leave' %} <small>{% trans 'permanent action' %}</small></h4>
          {% endif %}
        </header>
        <div class="body">
          <form id="article-options" class="form-horizontal form-condensed label-left"
            method="post">
            <fieldset>
              {% if is_admin %}
                <legend class="section" style="color: red;">{% trans 'WARNING: This action cannot be undone' %}</legend>
              {% else %}
                <legend class="section" style="color: red;">{% trans 'WARNING: This action cannot be undone by you' %}</legend>
              {% endif %}
              <div class="control-group">
                <div class="col-md-6">
                  <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
                    {% if is_admin %}
                      {% trans 'Delete Conference' %} &nbsp;
                    {% else %}
                      {% trans 'Leave Conference' %} &nbsp;
                    {% endif %}
                  <i class="fa eicon-cancel-circled"></i></a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="body">
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formDelete" action='{% url 'delete_conference' %}{{ eventid }}/' method="POST">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            {% if is_admin %}
              <h4 class="modal-title" id="myModalLabel">{% trans 'Delete Conference' %}</h4>
            </div>
            <div class="modal-body">
            <p><strong>{% trans 'This action CANNOT be undone.' %}</strong> {% blocktrans %} This will delete <strong>{{ project_name }}</strong> permanently.{% endblocktrans %}</p>
          {% else %}
            <h4 class="modal-title" id="myModalLabel">Leave Conference</h4>
          </div>
          <div class="modal-body">
          <p><strong>{% trans 'This action CANNOT be undone by you.' %}</strong> {% blocktrans %} This will remove you from <strong>{{ project_name }}</strong>.{% endblocktrans %}</p>
        {% endif %}
        <p>{% trans 'Please type in the name of the conference to confirm.' %}</p>
        <input type="text" id="conferenceName" name="conferenceName" placeholder="" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        {% if is_admin %}
          <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
        {% else %}
          <button type="submit" class="btn btn-danger">{% trans 'Leave' %}</button>
        {% endif %}
      </div>
    </form>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'js/dashboard/lib/select2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/dashboard/form_elements/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'js/dashboard/settings_form.js' %}"></script>
<script>
$(document).ready(function() {
  $('.datetimepicker').datetimepicker({
    autoclose: true
  });
});
</script>
<script>
function addWebsiteUrlCallback($textInput, callback, delay) {
var timer = null;
$textInput.keyup(function() {
if (timer) {
window.clearTimeout(timer);
}
timer = window.setTimeout( function() {
timer = null;
callback();
}, delay );
});
$textInput = null;
}
function checkValidConferenceUrl() {
var $url = $('#website').val();
$.get(API_DASHBOARD + "conference_url_available",
{ eventurl: $url})
.done(function( data ) {
if (data.available) {
$('#website').css("color", "white");
$('#website').css("background", "#5d5d5d");
$('#availableWarning').hide();
} else {
$('#website').css("color", "black");
$('#website').css("background", "#ffc4c4");
$('#availableWarning').show();
}
});
}
addWebsiteUrlCallback($("#website"), checkValidConferenceUrl, 500);
</script>
<style>
  .form-control {
    padding: 0px 0px;
  }
<style>
{% endblock scripts %}
