{% extends base_template %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<section class="block-large bg-alt">
  <div class="container attendees">
    {% autoescape off %}{{page_content}}{% endautoescape %}
  </div>
</section>
{% endblock %}
