{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Calendar' %}{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

  <div class="content container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="page-title">{% trans 'Calendar' %}<small>{% trans 'Draggable access' %}</small></h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <section class="widget">
                <div id="loading"></div>
                  <header>
                      <h4>
                          <i class="fa fa-calendar"></i>
                          {% trans 'Calendar' %}
                      </h4>
                      <div class="actions">
                          <button id="today" type="button" class="btn btn-sm btn-warning">
                              {% trans 'Today' %}
                          </button>
                          <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                              <label class="btn btn-sm btn-success active" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="view" value="month"> {% trans 'Month' %}
                              </label>
                              <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="view" value="agendaWeek"> {% trans 'Week' %}
                              </label>
                              <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="view" value="agendaDay"> {% trans 'Day' %}
                              </label>
                          </div>
                      </div>
                  </header>
                  <div class="body">
                      <div id="calendar" class="calendar"> </div>
                  </div>
              </section>
          </div>
          <div class="col-md-4">
              <section class="widget">
                  <header>
                      <h5>
                          <i class="fa fa-exchange"></i>
                          {% trans 'Draggable Tasks' %} <small>{% trans 'Tasks without ending date' %}</small
                      </h5>
                  </header>
                  <div class="body">
                      <div id='external-events'>
                        {% for task in tasks_list %}
                          {% if task.priority == 1 %}
                            <div class='external-event' style="background: #da461d;"><i class="fa fa-bell" id="{{task.id}}"></i> {{task.title}}</div>
                          {% elif task.priority == 2 %}
                            <div class='external-event' style="background: #e5bc3a;"><i class="fa fa-exclamation-circle" id="{{task.id}}"></i> {{task.title}}</div>
                          {% else %}
                            <div class='external-event' style="background: #42a762;"><i class="fa fa-tag" id="{{task.id}}"></i> {{task.title}}</div>
                          {% endif %}
                        {% endfor %}
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Create Task' %}</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="taskName" class="control-label">{% trans 'Task name' %}</label>
                    <div class="controls">
                        <input type="text" id="taskName" name="name">
                    </div>
                    <div class="controls">
                      {% trans 'Priority:' %}
                      <div class="btn-group" data-toggle="buttons">
                          <label id="optionHigh" class="btn btn-danger btn-sm active" data-toggle-class="btn-danger" data-toggle-passive-class="btn-inverse">
                              <input type="radio" onchange="changePriority('high')"> {% trans 'High' %}
                          </label>
                          <label id="optionMedium" class="btn btn-inverse btn-sm" data-toggle-class="btn-warning" data-toggle-passive-class="btn-inverse">
                              <input type="radio" onchange="changePriority('medium')"> {% trans 'Medium' %}
                          </label>
                          <label id="optionLow" class="btn btn-inverse btn-sm" data-toggle-class="btn-success" data-toggle-passive-class="btn-inverse">
                              <input type="radio" onchange="changePriority('low')"> {% trans 'Low' %}
                          </label>
                      </div>
                    </div>
                    <div class="controls">
                      {% trans 'Assigned to:' %}
                      <div class="btn-group">
                          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <strong id="assignedName">{{current_user}}</strong>
                              <i class="fa fa-caret-down"></i>
                          </button>
                          <ul class="dropdown-menu">
                            {% for user in members %}
                              <li onclick="changeCurrentUser('{{user}}');"><a href="#">{{user}}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">{% trans 'OK' %}</button>
            </div>
            <form id="createTask" class="form-horizontal" method="POST" style="display: none;"
                enctype="multipart/form-data" action="">
                  {% csrf_token %}
              <fieldset>
                <input type="text" id="eventid" name="eventid" readonly value="">
                <input type="text" id="taskTitleInput" name="taskTitleInput" readonly value="">
                <input type="text" id="endingOn" name="endingOn" readonly value="">
                <input type="text" id="priority" name="priority" readonly value="">
                <input type="text" id="assignedTo" name="assignedTo" readonly value="">
              </fieldset>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/calendar.js' %}"></script>
{% endblock scripts %}
