{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference Dashboard{% endblock %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">{% blocktrans %}Dashboard <small>Manage your events and more</small>{% endblocktrans %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <section class="widget">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>{% blocktrans %}Hello, {{username}}!{% endblocktrans %}</h1>
                            <br>
                            <p class="lead">{% blocktrans %}Manage your <em>Conferences</em>{% endblocktrans %}</p>
                            <p>
                              <a href="{% url 'create_conference' %}" class="btn btn-danger btn-lg">
                                {% blocktrans %}Create Event!{% endblocktrans %} &nbsp;
                              <i class="fa fa-check"></i></a>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa eicon-globe"></i>
                            {% blocktrans %}My Events{% endblocktrans %}
                            <small>
                                {% blocktrans %}click on any event for further customization{% endblocktrans %}
                            </small>
                        </h4>
                    </header>
                    <div class="body">
                        <table class="table table-striped no-margin sources-table">
                            <thead>
                            <tr>
                                <th class="source-col-header">{% blocktrans %}Event{% endblocktrans %}</th>
                                <th>{% blocktrans %}Attendees{% endblocktrans %}</th>
                                <th>{% blocktrans %}Speakers{% endblocktrans %}</th>
                                <th>{% blocktrans %}Sponsors{% endblocktrans %}</th>
                                <th>{% blocktrans %}Date{% endblocktrans %}</th>
                                <th>{% blocktrans %}View Site{% endblocktrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                              <tr>
                                <td><a href="{% url 'event_manager' %}{{ event.id }}"><span class="label label-info">{{event.title}}</span></a></td>
                                <td>{{event.attendees_count}}</td>
                                <td>{{event.speakers_count}}</td>
                                <td><strong class="color-green">{{event.sponsors_count}}</strong></td>
                                <td>{{event.start_date}}</td>
                                <td><a href="/{{event.url}}">{{event.url}}</a></td>
                              </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-tasks"></i>
                            {% blocktrans %}Remaining Tasks{% endblocktrans %}
                        </h4>
                    </header>
                    <div class="body">
                        <ul class="server-stats">
                          {% for task_data in pending_tasks %}
                            <li>
                                <div class="key pull-right"><a href="{{task_data.link}}">{{task_data.message}}</a></div>
                                <div class="stat">
                                    <div class="info"><a href="{{task_data.link}}">{{task_data.event_name}}</a></div>
                                    <div class="progress progress-small">
                                        <div class="progress-bar progress-bar-danger" style="width: {{task_data.percentage}};"></div>
                                    </div>
                                </div>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget large">
                    <header>
                        <h4>
                            <i class="eicon-share"></i>
                            {% blocktrans %}Feed (All events){% endblocktrans %}
                        </h4>
                    </header>
                    <div class="body">
                        <div id="feed" class="feed">
                            <div class="wrapper" id="feedsList">
                                {% for feed in feeds %}
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                      {% if feed.active %}
                                        <i class="fa fa-comment"></i>
                                      {% else %}
                                        <i class="fa fa-check color-green"></i>
                                      {% endif %}
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                          {% if feed.active %}
                                            {% blocktrans with user=feed.user title=feed.title link_task=feed.link_task link_user=feed.link_user taskid=feed.taskid %}<a href="{{link_user}}">{{user}}</a> commented on <a href="{{link_task}}?id={{taskid}}">{{title}}</a>.{% endblocktrans %}
                                          {% else %}
                                            {% blocktrans with user=feed.user title=feed.title link_task=feed.link_task link_user=feed.link_user taskid=feed.taskid %}<a href="{{link_task}}?id={{taskid}}">{{title}}</a> has been completed by <a href="{{link_user}}">{{user}}</a>.{% endblocktrans %}
                                          {% endif %}
                                        </div>
                                        <div class="time pull-left">
                                            {{feed.time}}
                                        </div>
                                    </div>
                                </section>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#attending" data-toggle="tab"><i class="fa fa-calendar"></i> {% blocktrans %}Attending{% endblocktrans %}</a>
                              <li>
                                <a href="#teammates" data-toggle="tab"><i class="fa fa-group"></i> {% blocktrans %}Teammates{% endblocktrans %}</a>
                            </li>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="attending" class="tab-pane active clearfix">
                            <ul class="news-list">
                              {% for attend in attending %}
                                <li>
                                  <div>
                                    <div class="name"><a href="{% url 'home' %}{{attend.url}}">{{attend.title}}</a></div>
                                    <div class="position">
                                    {% blocktrans with days_left=attend.days_left %}
                                    Days Left: {{ days_left }}
                                    {% endblocktrans %}</div>
                                    <div class="time">{{attend.date}}</div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                        <div id="teammates" class="tab-pane clearfix">
                            <ul class="news-list">
                              {% for event in events %}
                                <li>
                                  <div>
                                    <div class="name"><a href="{% url 'contacts' %}{{ event.id }}">{{event.title}}</a></div>
                                    <div class="position">
                                    {% blocktrans with event_count=event.admin.count members_count=event.members.count %}
                                    Admins: {{ event_count }} - Members: {{ members_count }}
                                    {% endblocktrans %}</div>
                                    <div class="time">{{event.start_date}}</div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="body">
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Create Conference!' %}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="button" class="btn btn-primary">{% trans 'Create event' %}</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<!-- jquery plugins -->
<script src="{% static 'js/dashboard/lib/sparkline/jquery.sparkline.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery.slimscroll.js' %}"></script>
<!-- d3, nvd3-->
<script src="{% static 'js/dashboard/lib/nvd3/lib/d3.v2.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/nv.d3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/lib/nvd3/stream_layers.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
{% endblock scripts %}
