{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Designer' %}{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">{% trans 'Live Grid' %}<small>{% trans 'Draggable widgets. Touch screen support' %}</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 widget-container">
                <section class="widget">
                    <header>
                        <h5>
                            {% trans 'News' %} <span class="badge badge-success">17</span>
                        </h5>
                    </header>
                    <div class="body">
                        <ul class="news-list stretchable">
                            <li>
                                <span class="icon background-warning">
                                    <i class="fa fa-star"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name"><a href="#">First Human Colony on Mars</a></h4>
                                    <p>
                                        First 700 people will take part in building first human settlement outside of Earth.
                                        That's awesome, right?
                                    </p>
                                    <div class="time">Mar 20, 18:46</div>
                                </div>
                            </li>
                            <li>
                                <span class="icon background-info">
                                    <i class="fa fa-microphone"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name"><a href="#">Light Blue reached $300</a></h4>
                                    <p>
                                        Light Blue Inc. shares just hit $300 price. "This was inevitable. It should
                                        have happen sooner or later" - says NYSE expert.
                                    </p>
                                    <div class="time">Sep 25, 11:59</div>
                                </div>
                            </li>
                            <li>
                                <span class="icon background-lime">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <div class="news-item-info">
                                    <h4 class="name"><a href="#">No more spying</a></h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <div class="time">Mar 20, 18:46</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="widget" style="min-height: 200px">
                    <header>
                        <h5>Loader</h5>
                    </header>
                    <div class="body">
                        <div class="loader animated fadeIn">
                        <span class="spinner">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-md-6 widget-container">
                <section class="widget">
                    <header>
                        <h5>
                            Shares
                        </h5>
                    </header>
                    <div class="body">
                        <div class="list-group users-list-group">
                            <a href="#" class="list-group-item">
                                <img src="img/1.jpg" alt="" class="img-circle"/>
                                <i class="fa fa-circle pull-right text-danger"></i>
                                <h5 class="no-margin">Maikel Basso</h5>
                                <small class="text-muted">about 2 mins ago</small>
                            </a>
                            <a href="#" class="list-group-item">
                                <img src="img/2.jpg" alt="" class="img-circle"/>
                                <i class="fa fa-circle pull-right text-info"></i>
                                <h5 class="no-margin">Ianus Arendse</h5>
                                <small class="text-muted">about 42 mins ago</small>
                            </a>
                            <a href="#" class="list-group-item">
                                <img src="img/3.jpg" alt="" class="img-circle"/>
                                <i class="fa fa-circle pull-right text-success"></i>
                                <h5 class="no-margin">Valdemar Landau</h5>
                                <small class="text-muted">one hour ago</small>
                            </a>
                            <a href="#" class="list-group-item">
                                <img src="img/13.jpg" alt="" class="img-circle"/>
                                <i class="fa fa-circle pull-right text-warning"></i>
                                <h5 class="no-margin">Rick Teagan</h5>
                                <small class="text-muted">3 hours ago</small>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>Draggable story!</h1>
                            <p class="lead">
                                <em>Build</em> your own
                                interfaces! Sit back and relax.
                            </p>
                            <p class="text-align-center">
                                <a class="btn btn-danger btn-lg">
                                    Check it out! &nbsp;
                                    <i class="fa fa-check"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"> </script>
<script src="{% static 'js/dashboard/lib/jquery.ui.touch-punch.js' %}"> </script>

<script src="{% static 'js/dashboard/grid-live.js' %}"> </script>
{% endblock scripts %}
