{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Calendar' %}{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

  <div class="content container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="page-title">{% trans 'Schedule' %}</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <section class="widget">
                <header>
                    <h5>
                        <i class="fa fa-tasks"></i>
                        Tracks
                    </h5>
                </header>
                <div class="body">
                    <div class="panel-group" id="accordion2">
                      {% for track in tracks %}
                        <div class="panel" id="panel{{forloop.counter}}">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}" id="track{{track.id}}">
                                    {{track.name}}
                                </a>
                            </div>
                            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse" style="height: auto;">
                                <div class="panel-body">
                                  <button id="create-track" class="btn btn-success" onclick="setTrackActive({{track.id}})">{% trans 'Set active' %}</button>
                                  <button id="create-track" class="btn btn-danger" onclick="deleteTrack({{track.id}}, {{forloop.counter}})">{% trans 'Remove' %}</button>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="widget">
                <header>
                    <h5>
                        {% trans 'Actions' %}
                    </h5>
                </header>
                <div class="body">
                  <button id="create-track" class="btn btn-success" onclick="showCreateTrack()">{% trans 'Create Track' %}</button>
                  <button id="create-track" class="btn btn-primary" onclick="showCreateActivity(null, null)">{% trans 'Create Activity' %}</button>
                  <br>
                  <small>You can also click on the calendar to create an Activity</small>
                </div>
            </section>
        </div>
      </div>

      <div class="row">
          <div class="col-md-8">
              <section class="widget">
                <div id="loading"></div>
                  <header>
                      <h4>
                          <i class="fa fa-calendar"></i>
                          {% trans 'Schedule' %}: <small id="activeTrackTitle"></small>
                      </h4>
                  </header>
                  <div class="body">
                      <div id="calendar" class="calendar"> </div>
                  </div>
              </section>
          </div>
          <div class="col-md-4">
              <section class="widget">
                  <header>
                      <h5>
                          <i class="fa fa-exchange"></i>
                          {% trans 'Draggable Talks' %} <small>{% trans 'Talks not assigned to the schedule' %}</small
                      </h5>
                  </header>
                  <div class="body">
                      <div id='external-events'>
                        {% for talk in talks %}
                            <div class='external-event' style="background: #42a762;" id="{{talk.id}}"><i class="fa fa-tag"></i> {{talk.talk.title}}</div>
                        {% endfor %}
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>

<!--DIALOGS-->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="eventStartingOn">{% blocktrans %}Start time:{% endblocktrans %}</label>
                    <div class="controls">
                      <input type="time" name="startTime" id="eventStartingOn">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="eventEndingOn">{% blocktrans %}Ending time:{% endblocktrans %}</label>
                    <div class="controls">
                      <input type="time" name="endTime" id="eventEndingOn">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger" onclick="removeActivity()">{% trans 'Remove' %}</button>
                <button data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success" onclick="updateActivity(null, null)">{% trans 'OK' %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="create-track-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Create Track' %}</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="trackName" class="control-label">{% trans 'Track name' %}</label>
                    <div class="controls">
                        <input type="text" id="trackName" name="name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
                <button data-dismiss="modal" id="create-event" onclick="createTrack()" class="btn btn-success">{% trans 'OK' %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="create-activity-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Create Activity' %}</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="activityName" class="control-label">{% trans 'Activity name' %}</label>
                    <div class="controls">
                        <input type="text" id="activityName" name="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="startingOn">{% blocktrans %}Start time:{% endblocktrans %}</label>
                    <div class="controls">
                      <input type="time" name="startTime" id="startingOn">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="endingOn">{% blocktrans %}Ending time:{% endblocktrans %}</label>
                    <div class="controls">
                      <input type="time" name="endTime" id="endingOn">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
                <button data-dismiss="modal" id="create-event" onclick="createActivity()" class="btn btn-success">{% trans 'OK' %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/modal.js' %}"></script>
<script src="{% static 'js/dashboard/index.js' %}"></script>
<script src="{% static 'js/dashboard/ui-dialogs.js' %}"></script>
<script src="{% static 'js/dashboard/lib/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/dashboard/schedule.js' %}"></script>
<script src="{% static 'js/xdate.js' %}"></script>

<script>
window.onload = function () {
  $('#calendar').fullCalendar('gotoDate', {{event_start_year}}, {{event_start_month}} - 1, {{event_start_day}});
}
</script>
{% endblock scripts %}
