{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - Event Manager{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">{% trans 'Social' %} <small>{% trans 'Show your social accounts in the Conference site.' %}</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <section class="widget tiny">
        <header>
          <h4>
            Twitter
          </h4>
        </header>
        <div class="body">
          <div class="control-group">
            <label for="title" class="control-label">{% trans 'Twitter page URL' %}</label>
            <div class="controls form-group">
                <input type="text" id="twitter_link" name="title" class="form-control"
                        required="required" placeholder="https://twitter.com/pyconference"
                        value="{{twitter_link}}">
            </div>
          </div>
          <button class="btn btn-info btn-lg pull-right" onclick="setSocial('twitter');">
            {% blocktrans %}Set Twitter account!{% endblocktrans %} &nbsp;
          <i class="fa fa-twitter"></i></button>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="widget tiny">
        <header>
          <h4>
            Facebook
          </h4>
        </header>
        <div class="body">
          <div class="control-group">
            <label for="title" class="control-label">{% trans 'Facebook page URL' %}</label>
            <div class="controls form-group">
                <input type="text" id="facebook_link" name="title" class="form-control"
                        required="required" placeholder="https://facebook.com/myconference"
                        value="{{facebook_link}}">
            </div>
          </div>
          <button class="btn btn-info btn-lg pull-right" onclick="setSocial('facebook');">
            {% blocktrans %}Set Facebook account!{% endblocktrans %} &nbsp;
          <i class="fa fa-facebook"></i></button>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <section class="widget tiny">
        <header>
          <h4>
            Google+
          </h4>
        </header>
        <div class="body">
          <div class="control-group">
            <label for="title" class="control-label">{% trans 'Google+ page URL' %}</label>
            <div class="controls form-group">
                <input type="text" id="google_link" name="title" class="form-control"
                        required="required" placeholder="https://plus.google.com/u/MyConference/posts"
                        value="{{google_link}}">
            </div>
          </div>
          <button class="btn btn-info btn-lg pull-right" onclick="setSocial('google');">
            {% blocktrans %}Set Google+ account!{% endblocktrans %} &nbsp;
          <i class="fa fa-google-plus"></i></button>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="widget tiny">
        <header>
          <h4>
            Pinterest
          </h4>
        </header>
        <div class="body">
          <div class="control-group">
            <label for="title" class="control-label">{% trans 'Pinterest page URL' %}</label>
            <div class="controls form-group">
                <input type="text" id="pinterest_link" name="title" class="form-control"
                        required="required" placeholder="https://pinterest.com/MyConference"
                        value="{{pinterest_link}}">
            </div>
          </div>
          <button class="btn btn-info btn-lg pull-right" onclick="setSocial('pinterest');">
            {% blocktrans %}Set Pinterest account!{% endblocktrans %} &nbsp;
          <i class="fa fa-pinterest"></i></button>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/dashboard/social.js' %}"></script>
{% endblock scripts %}
