{% extends "base/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}MyConference - {% trans 'Contacts' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Attendees Information' %}<small>Search attendees</small></h2>
      </div>
  </div>
  <section class="widget">
    <div class="body">
        <div class="row">
          <div class="col-md-12">
              <table id="datatable-table" class="table table-striped">
                  <thead>
                  <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Company</th>
                      <th>Webpage</th>
                      <th>CV Link</th>
                      <th>More info</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for attendee in attendees %}
                      <tr>
                        <td><strong>{{attendee.first_name}}</strong></td>
                        <td><strong>{{attendee.last_name}}</strong></td>
                        <td>{{attendee.email}}</td>
                        <td><a href="{{attendee.company_page}}">{{attendee.company}}</a></td>
                        <td><a href="{{attendee.webpage}}">{{attendee.webpage}}</a></td>
                        <td><a href="{{attendee.cv_link}}">{{attendee.cv_link}}</a></td>
                        <td><a href="{% url 'profile' url attendee.username %}">Profile</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/base_functions.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/tooltip.js' %}"></script>
<script src="{% static 'js/dashboard/lib/bootstrap/popover.js' %}"></script>

<script src="{% static 'js/dashboard/lib/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-min.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backbone/backbone-pageable.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backgrid/backgrid.js' %}"></script>
<script src="{% static 'js/dashboard/lib/backgrid/backgrid-paginator.js' %}"></script>
<script>
$(document).ready(function() {
  $('.table').dataTable();

  $.get(buildUri("usernames"), {})
  .done(function(data) {
    $( "#usernameMember" ).autocomplete({
      source: data,
      appendTo: $("#myModalMember")
    });
    $( "#usernameAdmin" ).autocomplete({
      source: data,
      appendTo: $("#myModalAdmin")
    });
    $( "#usernameReviewer" ).autocomplete({
      source: data,
      appendTo: $("#myModalReviewer")
    });
  });
} );
</script>
{% endblock scripts %}
