{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}MyConference - Custom design{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="page-title">{% trans 'Custom design' %}</h2>
      </div>
  </div>
  <section class="widget">
    <div class="body">
      {% crispy form %}
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script>
  $('#add-sponsor-btn').click(function() {
    $('.sponsor-form-wrapper').removeClass('hidden');
  });
  $('#add-level-btn').click(function() {
    $('.sponsor-level-form-wrapper').removeClass('hidden');
  });
</script>
<script src="{% static 'js/api_urls.js' %}"></script>
{% endblock scripts %}
