.form-group {
    margin: 20px 0px;
}
#profile-form .form-actions {
    clear: both;
}

+#profile-form .gravatar {
    margin-bottom: 20px;
    height: 120px;
}
#profile-form textarea {
    width: auto;
}
#submit-talk-form {
    padding: 0px 40px;
}
#submit-talk-form select,
#submit-talk-form input,
#submit-talk-form textarea,
#submit-talk-form .uneditable-input,
#submit-talk-form .form-actions {
    width: 30%;
}
#submit-talk-form .select2-input {
    width: 330px !important;
}

.attendees p {
    font-size: 18px;
    margin-bottom: 40px;
}
.attendees .table {
    font-size: 17px;
}