 {% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}MyConference - Edit location{% endblock %}

{% block extrahead %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block menu %}
{% include "dashboard/menu_events.html" %}
{% endblock %}

{% block content %}
<div class="content container">
	<div class="row">
	      <div class="col-md-12">
	          <h2 class="page-title">{% trans 'Edit location' %}</h2>
	      </div>
	  </div>
	  <section class="widget clearfix">
	    <div class="body">
          <div class="col-md-7">
            <input id="pac-input" type="text" placeholder="{% trans 'Search a place' %}">
            <div id="map" height="100"></div>
          </div>
        </div>
        <div class="col-md-5">
          {% crispy form %}
        </div>
	    <div class="col-lg-12">
	      <header>
	        <h4>
	            {% trans 'Delete location' %}
	        </h4>
	        <div class="col-sm-2">
	              <a href="{% url 'delete_location' location_id eventid %}" class="btn btn-danger btn-block">{% trans 'Delete' %}</a>
	          </div>
	      </header>
	    </div>
	  </section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- page specific -->
<script src="{% static 'js/api_urls.js' %}"></script>
<script src="{% static 'js/jquery.icheck.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVtkz_MGTAXxl7BCBvSE0C2qrOC9xAlBI"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="{% static 'js/location.js' %}"></script>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock scripts %}
