{% extends "account/base_account.html" %}
{% load i18n %}

{% include "socialaccount/snippets/login_extra.html" %}

{% block title %}
<title>MyConference - Login</title>
{% endblock %}

{% block header %}
<header class="page-header">
    <div class="navbar">
        <ul class="navbar-nav navbar-right">
            <li><a href="{% url 'account_signup' %}?next={% firstof request.GET.next '/' %}"><h3 class="fa eicon-user-add">{% trans 'Sign up' %}</h3></a></li>
        </ul>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>{% trans 'Login to your account' %}</h4>
        </header>
        <div class="body">
            <form class="no-margin" method="POST" action="{% url 'account_login' %}?next={% firstof request.GET.next '/' %}">
                {% csrf_token %}
                <fieldset>
                  <div class="form-group no-margin">
                    <label for="id_login" >{% trans 'Username' %}</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="eicon-user"></i>
                        </span>
                        <input id="id_login" name="login" class="form-control input-lg"
                               placeholder="Username">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="id_password" >{% trans 'Password' %}</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input id="id_password" name="password" type="password" class="form-control input-lg"
                               placeholder="Your Password">
                    </div>
                  </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>{% trans 'Sign In' %}</small>
                    </button>
                    <div class="forgot"><a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
                </div>
            </form>
        </div>
        <footer>
            {% if socialaccount.providers  %}
            <div class="socialaccount_ballot">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="socialaccount_providers list-unstyled list-inline">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </footer>
    </section>
</div>

{% endblock %}
