{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - {% trans 'Password Reset' %}</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% trans 'So, you lost the postix where you have written down your password?' %}</h3>
                        <p>{% trans 'Please contact us if you have any trouble resetting your password.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="widget widget-404-search">
        <div class="body no-margin">
            <form class="form-inline form-search no-margin text-align-center" method="POST" action=""
                  role="form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" class="form-control" id="id_email" name="email"
                           placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            &nbsp; {% trans 'Send' %} &nbsp;
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}
