{% extends "account/base_account.html" %}
{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header %}
<header class="page-header">
    <div class="navbar">
        <ul class="navbar-nav navbar-right">
            <li><h3><a href="{% url 'account_login' %}">{% trans 'Login' %}</a></h3></li>
        </ul>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>{% trans 'Sign up' %}</h4>
        </header>
        <div class="body">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}?next={% firstof request.GET.next '/' %}">
            {% csrf_token %}
              {% crispy form %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
          </form>
        </div>
        <footer>
            {% if socialaccount.providers  %}
            <div class="socialaccount_ballot">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="socialaccount_providers list-unstyled list-inline">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </footer>
        <br>
    </section>
</div>

{% endblock %}
