{% extends "account/base_account.html" %}
{% load i18n %}

{% block title %}
<title>MyConference - {% trans 'Password Verification' %}</title>
{% endblock %}

{% block content %}
<div class="single-widget-container error-page">
    <section class="widget transparent widget-404">
        <div class="body">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-align-center"><i class="fa eicon-key"></i></h1>
                </div>
                <div class="col-md-7">
                    <div class="description">
                        <h3>{% trans "Verify Your E-mail Address" %}</h3>
                        <p>{% blocktrans %}We have sent an e-mail to <a href="mailto:{{email}}">{{ email }}</a> for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
